/.idea/
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/modules.xml
__pycache__/app.cpython-39.pyc
__pycache__/models.cpython-39.pyc
static/maps/acs.pdf
static/maps/admin.pdf
static/maps/campus_map_recent.pdf
static/maps/COB1-part-1.pdf
.DS_Store
.DS_Store
__pycache__/models.cpython-310.pyc
