.series {
    fill: #d2a715;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    cursor: pointer;
}

.series:hover{
    fill: palegoldenrod;
    opacity: 1;
}

.series:active{
    fill: darkred;
    opacity: 1;
}