<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add/Drop classes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body class="UCMGold-background">
    <div class="topnav">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button></form>
        <button type="button" onclick="jumpToLink('/')">Home Page</button>
        <button type="button" onclick="jumpToLink('user/{{ current_user.id }}')">User</button>
        <button type="button" class="active" onclick="jumpToLink('class/add_class')">Registration</button>
    </div>
    <div id="display" style="background-color: rgb(84,84,86)">
        <table id="tabs">
            {% block content %}
                {% if classes %}
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Add</th>
                    <th>Drop</th>
                    {% for class in classes %}
                        <tr>
                            <td>{{class.id}}</td>
                            <td>{{class.class_name}}</td>
                            <td>
                                <form action="{{url_for('add_class_to_user')}}" method = 'POST'>
                                    <button type="submit" name="reg_button" value="{{class.id}}" class="reg-button">
                                        Add
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="{{url_for('drop_class_from_user')}}" method = 'POST'>
                                    <button type="submit" name="reg_button_2" value="{{class.id}}" class="reg-button">
                                        Drop
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    {% if error %}
                        {{error}}
                    {% endif %}
                {% endif %}
            {% endblock content %}
        </table>

    </div>
</body>
</html>