<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    {% block content %}
        {% if src %}
            {% for i in range(src|length) %}
                {% set link = src[i] %}
                <object id="svg-class" data="{{url_for('static', filename=link)}}" type="image/svg+xml" width="90%"></object>
     {% endfor %}
        {% endif %}
    {% endblock content %}
</body>
</html>