<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="blue-background">
<form action="{{ url_for('login') }}" method="post">
        <div class="wrapper">
            <label for="username"> Username:</label><br>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="password"> Password:</label>
            <br>
            <input type="password" id="password" name="password">
            <br><br>
            <div class="center">
                <button type="submit" value="submit" class="login-buttons" > login </button>
            </div>
        </div>
    </form>
<h1 style="color: red">
    {{error}}
</h1>
</body>
</html>