<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body class="blue-background">
<div class="wrapper">
    <form action="{{ url_for('login') }}" method="post">
        <label for="username"> Username:</label><br>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password"> Password:</label>
        <br>
        <input type="password" id="password" name="password">
        <br><br>
        <button type="submit" value="submit" class="login-buttons" > Login </button>
    </form>
    <br><br>
    <button style="color: blue" type="button" onclick="jumpToLink('register')" class="link-button" name="reg_button">Create a new account</button>
</div>
        <h1 style="color: red" class="center">
    {{error}}
</h1>
</body>
</html>