<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User {{name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body class="UCMGold-background">
<div style="background-color: rgb(84,84,86);">
    <div class="topnav">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button></form>
        <button type="button" onclick="jumpToLink('/')">Home Page</button>
        <button type="button" class="active" onclick="jumpToLink('user/{{ current_user.id }}')">User</button>
        <button type="button" onclick="jumpToLink('class/add_class')">Registration</button>
    </div>
    <h1 class="center" style="color: white">
        Hi, {{name}}
    </h1>
    <div class="display">
    <table id="tabs" align="center">
    {%block content%}
        {% if classes %}
            <th>Course Name</th>
            <th>Drop</th>
            {% for i in range(classes|length) %}
                <tr>
                    <td>
                        <form action="{{url_for('load_class')}}" method="post">
                            <input type="submit" class="link-button" type="submit" value="{{classes[i].class_name}}" name="class">
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('drop_class_from_user')}}" method = 'POST'>
                            <button type="submit" name="drop_button" value="{{classes[i].id}}" class="reg-button">
                                Drop
                            </button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        {% else %}
            <h1 class="center" style="color: white">You Are Not Registered For Any Classes</h1>
        {% endif %}
    {% endblock content%}
    </table>
    </div>
</div>
</body>
</html>